
/*Центрируем элемент по вертикали и горизонтали*/

html,body {
	height: 100%;
}

.table {
	display: table;
	height: 100%;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

.rd-upload {
	max-width: 50em;
	margin: 0 auto;
	height:auto;
}

.rd-alert {
	text-align: center;
}

.upload_form {
	text-align: center;
	overflow: hidden;
}

.rd-tab:hover {
	background-color: #0a47b0;
}

/*MAIN PAGE**********************/

.rd-warning {
	font-size: 13px;
	text-align: center;
	color: #666;
}


/*Выравниваем формы на случай браузера моложе IE8*/

.ie .table {
	display block; 
	padding-top: 360px; 
	height: auto;
}

.ie .file-wrapper {
	width:205px;
}

.ie .rd-submit {
	width:200px;
}

/*FILE INFO**********************/

.rd-download {
	margin-top: 75px;
	margin-left: 7px;
}

.file-info {
	margin-top: 10px;
	margin-left: 2px;
}


a.download-string {
	text-decoration: none;
}

.rd-button {
	margin-top: 7px;
	display: block;
	height: 50px;
	width: 150px;
	text-align: center;
	font: bold 1.2em/48px Georgia, Arial, Helvetica, Geneva, sans-serif;
}