.modal {
    background: #eee;
    margin: 100px auto;
    border: 3px solid #666;
    padding: 20px;
}

.modal .close {
    float: right;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
}